* {
    background-color: rgb(200, 180, 0);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center; 
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: x-large;
    background-color: rgb(255, 80, 0);
    margin-inline: 10%;
    margin-block: 1%;
}
img {
    width: 450px;
    display: block;
    margin: auto;
}

